@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500,700;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* header */
header {
  color: #4F4F4F;
  margin-top: 30px;
}

header>span {
  /* font: 'Raleway'; */
  margin-left: 80%;
}

img {
  margin-left: 5px;
  max-width: 1.5%;
}


/* Quote section */
main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: black;
  max-width: 590px;
  margin-top: 10%;
  border-left: 6px solid #F7DF94;
  padding-left: 9%;
  line-height: 37px;
}

.author {
  margin-top: 100px;
  margin-left: 11%;
}

.quote_author {
  font-size: 25px;
  font-weight: 700;
  color: #4F4F4F;
  margin-bottom: 5px;
}

.quote_genre {
  color: #828282;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}