body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* header */
header {
  color: #4F4F4F;
  margin-top: 30px;
}

header>button {
  background: none;
  margin-left: 80%;
  max-width: fit-content;
  border: none;
}

header>button:hover {
  border: 1px solid black;
  border-radius: 10px;
}

span.material-symbols-outlined {
  font-size: large;
}

/* .App {
  display: grid;
  justify-content: center;
  align-items: center;
} */

/* Quote section */
main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 35px;
  color: black;
  max-width: 600px;
  margin-top: 10%;
  border-left: 6px solid #F7DF94;
  padding-left: 9%;
  line-height: 37px;
}

.author_wrapper {
  display: flex;
  justify-content: center;
}

.author {
  width: 45%;
  margin-top: 100px;
  margin-left: 8%;
  padding: 3%;
  color: #4F4F4F;
  /* border: 1px solid black; */
  display: flex;
}

.forward_button {
  display: inline-block;
  margin-left: 65%;
  align-self: center;
}

.quote_author {
  font-size: 25px;
  font-weight: 700;
  color: inherit;
  margin-bottom: 5px;
}

.author:hover {
  background-color: #4F4F4F;
  color: azure;
}

.quote_genre {
  color: #828282;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}